.about {
  p,
  li {
    margin: 0 auto;
    max-width: 650px;
  }
  p {
    margin-bottom: 10px;
  }
  ul {
    padding-left: 20px;
    li {
      list-style: disc;
      font-size: 1.2rem;
      line-height: 1.7;
    }
  }
}