.projectContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projectContainer li {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 450px;
}

.projects h4 {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.collaborationLink {
  text-decoration: underline;
}
.collaborationLink:hover,
.collaborationLink:focus {
  text-decoration: underline $accent;
}

.used {
  text-align: center;
}

span {
  color: $accent;
}

.projectLinkContainer {
  display: flex;
  justify-content: space-evenly;
}

.projectLink {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: $black 5px 10px;
  text-transform: uppercase;
  background: $accent;
  color: $white;
}

.projectLink:hover,
.projectLink:focus {
  cursor: pointer;
  background: darken($accent, 10%);
}

.projectLink:active {
  background: darken($accent, 10%);
  box-shadow: $black 2px 5px;
}