.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 320px;
}

.skills li {
  text-align: center;
  width: 50%;
  padding-top: 10px;
  max-width: 155px;
}

.skills i {
  font-size: 3rem;
}

.skills h4 {
  margin-top: 5px;
}